name: build

on:
    workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
        # - name: Submodules
        #   run: |
        #     git submodule update --init --recursive --single-branch

    - name: Build
      run: |
        sh graduation_project_report_common/build.sh

    - uses: actions/upload-artifact@v4
      with:
        name: graduation_project_report
        path: |
          _build/*.pdf
